/*tab-pane animation*/
.tab-pane.active {
    animation: slide-down 1s ease-out;
}

@keyframes slide-down {
    0% { opacity: 0; transform: translateY(50%); }
    100% { opacity: 1; transform: translateY(0); }
}

/*carousel-tab*/
.carousel-tab h4 {
    width: 100%; 
    text-align: center; 
    border-bottom: 0.5px solid rgb(117, 112, 112); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 .carousel-tab h4 span { 
     background:#fff; 
     padding:0 10px; 
 }

 /*carousel-indicators*/

 .carousel-tab .carousel-indicators li{
    display: inline-block;
    width: 10px;
    height: 10px;
    top: 70px;
    margin: 15px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5); 
 }
 
 .carousel-tab .carousel-indicators .active{
    width: 10px;
    height: 10px;
    margin: 15px;
    background-color: black;
 }
